Library/
Temp/
Logs/
obj/Debug
*.suo
*.suo~Stashed changes
.vs/
UserSettings/
Arcade.sln
Behaviours.csproj
Behaviours.Player.csproj
*.csproj
Packages/packages-lock.json
ProjectSettings/ProjectVersion.txt
